<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/angular2logo.png" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h1>RACE Express Form Builder</h1>
                <p>Race  + <strong> </strong>
                    <br> <small>One framework. Mobile & desktop.</small>
                </p>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Components/h3></div>
                <div class="panel-body">
                   The component is a controller class with a template which mainly deals with a view of the application and logic on the page
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Modules</h3></div>
                <div class="panel-body">
                   A module can be a library for another module. For instance, the angular2/core library which is a primary Angular library module will be imported by another component.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Services</h3></div>
                <div class="panel-body">
                   Services are JavaScript functions that are responsible for doing a specific task only. Angular services are injected using Dependency Injection mechanism and include the value, function or feature which is required by the application
                </div>
            </div>
        </div>
    </div>
   
</div>